@use "../../../presets" as *;
@use "../../../mixins" as *;

.menu {
  &__btn {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    gap: $gap-md;
    @include unlist;
  }

  &__item {

  }

  &__link {
    font-size: 18px;
    color: $color-white;
  }
}

// TODO: рассмотреть весь процесс создания меню
// https://codepen.io/designcouch/pen/ExvwPY
